.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py___jb_old___


# Distribution / packaging
.Python
env/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/


# Flask stuff:
instance/
.webassets-cache

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
